
html, body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #fff;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

#topRightImage {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000; /* Ensuring it's above other content */
  width: 10%; /* This sets the image width to 50% of its containing element's width */
}


#userForm {
  width: 100%;
  max-width: 600px;
  background-color: #F0F0F0;
  margin: auto;
  padding: 80px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.question {
    display: none;
    margin-bottom: 20px;
}

#selectionButtons {
    display: flex;
    justify-content: flex-start;; /* Centers items horizontally in the container */
    align-items: baseline;; /* Centers items vertically in the container */
    flex-direction: row; /* Stack the buttons vertically */
    gap: 10px; /* Optional: adds space between buttons */
}

.customBtn {
    background-color: #007bff; /* Vibrant blue */
    color: white;
    border: none;
    border-radius: 25px; /* Rounded corners */
    padding: 10px 20px;
    font-size: 16px;
    width: 20vw;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: scalePop 0.5s ease-out 2s; /* Apply the animation with delay */
    animation-delay: 2s; /* New delay */
}

.customBtn:hover, .nextBtn:hover, .backBtn:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly increase the size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Shadow effect */
}

.nextBtn, .backBtn, #submitBtn {
  padding: 10px 20px;
  text-align: right;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formline {
  padding-bottom: 10px;
}

.input {
  width: 20%;
  text-align: left; /* Ensures the content within is left-aligned */
  margin: 2px 0;
  box-sizing: border-box;
  border-radius: 6px;
}

input[type=text]:focus {
  border: 3px solid #555;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180%;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Styling for the book recommendations container */
.recs {
    width: 80%;
    margin: auto; /* Centers the container */
    text-align: center;
    padding: 30px;

}

#booksContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; /* Centers the book items */
    gap: 20px;
}

.bookItem {
    width: 150px;
    margin: 20px auto; /* Vertically space out book items and auto-center */
}

.bookCover {
    width: 100%;
    height: auto;
}

.bookTitle, .bookAuthor {
    margin-top: 10px;
}

.progress-container {
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;

}

.progress-bar {
  height: 20px;
  width: 0;
  background-color: #007bff;
  border-radius: 5px;
  transition: width 0.4s ease;
  color: white;
  text-align: center;
  line-height: 20px;
}

@media (max-width: 768px) {
  #userForm {
    width: 90%;
  }
}

@keyframes flyInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(1.1); /* Start slightly larger */
        opacity: 0;
    }
    100% {
        transform: scale(1); /* Animate to normal size */
        opacity: 1;
    }
}

@keyframes scalePop {
    0% {
        transform: scale(1); /* Normal size */
    }
    50% {
        transform: scale(1.1); /* Enlarge to 110% */
    }
    100% {
        transform: scale(1); /* Return to normal size */
    }
}

#userForm h1 {
    animation: flyInFromRight 1s ease-out;
}

#userForm p {
    animation: popIn 2s ease-out;
}
