<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='input.css') }}" rel="stylesheet">
</head>
<body>
      <div id="userForm" class="formdiv">
        <h1>Get Book Recommendations for Someone</h1>
          <div class="formline">
            <label for="name">Their name</label>
            <input type="text" id="name" required><br>
          </div>

          <div class="formline">
            <label for="relation">Their relationship to you</label>
            <input type="text" id="relation" required><br>
          </div>

          <div class="formline">
            <label for="age">Their Age:</label>
            <input type="text" id="age" required><br>
          </div>

          <div class="formline">
            <label for="location">Where they live now:</label>
            <input type="text" id="location" required><br>
          </div>

          <div class="formline">
            <label for="grewup">Where they grew up:</label>
            <input type="text" id="grewup" required><br>
          </div>

          <div class="formline">
            <label for="interests">Their interests:</label>
            <input type="text" id="interests" required><br>
          </div>

          <div class="formline">
            <label for="relationship">Describe your relationship with them in 3 words</label>
            <input type="text" id="relationship" required><br>
          </div>

          <button type="submit" id="submitBtn">Submit</button>
    </div>
    <div id="bookRecommendations" style="display: none;">
      <h1 id="recTitle">Book Recommendations for </h1>
      <table id="bookTable">
          <tr>
              <th></th>
              <th>Title</th>
              <th>Author</th>
          </tr>
      </table>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
