<!-- index.html -->
<!DOCTYPE html>
<html>
<body>
      <div id="userForm">
        <h1>User Information Form</h1>
          <label for="name">Name:</label>
          <input type="text" id="name" required><br>

          <label for="age">Age:</label>
          <input type="text" id="age" required><br>

          <label for="location">Location:</label>
          <input type="text" id="location" required><br>

          <label for="interests">Interests:</label>
          <input type="text" id="interests" required><br>
      <button type="submit">Submit</button>
    </div>
  <div id="bookRecommendations" style="display: none;">
    <h1>Book Recommendations</h1>
    <table id="bookTable">
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </table>
  </div>




    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
