<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='input.css') }}" rel="stylesheet">
</head>
<body>
      <div id="userForm" class="formdiv">
        <h1>Get Book Recommendations for Someone</h1>
        <p> Struggling to know which book to buy? Put in some information about the person you're buying for and Ernest will recommend up to 5 for you to choose from. </p>
        <br><br>
          <div class="formline">
            <label for="name">Their name</label>
            <input type="text" id="name" required><br>
          </div>

          <div class="formline">
            <label for="relation">Their relationship to you</label>
            <input type="text" id="relation" required><br>
          </div>

          <div class="formline">
            <label for="age">Their Age:</label>
            <input type="text" id="age" required><br>
          </div>

          <div class="formline">
            <label for="location">Where they live now:</label>
            <input type="text" id="location" required><br>
          </div>

          <div class="formline">
            <label for="grewup">Where they grew up:</label>
            <input type="text" id="grewup" required><br>
          </div>

          <div class="formline">
            <label for="interests">Their interests:</label>
            <input type="text" id="interests" required><br>
          </div>

          <div class="formline">
            <label for="relationship">Describe your relationship with them in 3 words</label>
            <input type="text" id="relationship" required><br>
          </div>
          <br>

          <div class="formline">
            <p>Do you want to buy them a fiction or non-fiction book?</p>
            <input type="radio" id="fiction" name="fic_nonfic" value="fiction">
            <label for="fiction">Fiction</label><br>
            <input type="radio" id="non_fiction" name="fic_nonfic" value="non_fiction">
            <label for="non_fiction">Non-Fiction</label><br>
          </div>
          <br>

          <div class="formline">
            <div class="tooltip">
              <label for="email">Your email</label>
              <span class="tooltiptext">So that we can send you the recommendations for safe keeping.</span>
            </div>
            <input type="text" id="email" required><br>
          </div>

          <button type="submit" id="submitBtn">Submit</button>
    </div>
    <div id="bookRecommendations" style="display: none;">
      <h1 id="recTitle">Book Recommendations for </h1>
      <table id="bookTable">
          <tr>
              <th></th>
              <th>Title</th>
              <th>Author</th>
          </tr>
      </table>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
